@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;  

}
main{
    font-family: 'Fraunces', serif;
    background-color: #f4edde;
    color: #D2B88E;
}
header{
   display: grid;
    background-color: #6C786B;
    padding: 3.5%;
    color: white;
    font-size: 300%;
    text-align: center;
    border-bottom: solid 5px white;
}
h1{
    font-weight: bold;

}
header img{
   position: absolute;
    width: 14%;
    top: 0%;
}
q{
    font-size: 45%;
    color: #D2B88E;
    margin-top: 1%;
    margin-bottom: 0;
    font-style: italic;
}
h2{
    color:  #6C786B;
    font-size: 250%;
    margin-left: 5%;
    margin-top: 5%;
    font-weight: bolder;
}
h3{
    color:#6C786B;
    margin-top: 3%;
    font-size: 175%;
    margin-left: 5%;
    
}
table, caption, th, td {

    border: 4px solid #6C786B;
    border-collapse: collapse;
    font-size: 150%;
    margin-top: 3%;
    margin-left: 5%;
}

li{
    font-size: 160%;
    margin-left: 2%;
    color: #D2B88E;
}
ul{
    font-size: 100%;  
    margin-left: 5%; 
    color: #6C786B;
}
.list{
    margin-top: 2%;
}
p{
    font-size: 175%;
    margin-left: 5%;
    margin-right: 42%;
    margin-top: 3%;
    text-align: justify;
}

footer{
    background-color: #6C786B;
    margin-top: 5%;
    padding: 3%;
    font-size: 200%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    border-top: white solid 3px;
 
   
}
footer a{
    margin-left: 2%;
    margin-right: 1%;
    color: white;   
}

footer a:hover{
    
    color: #D2B88E;   
    text-decoration: underline;
}
